{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
    <form method="post">
        {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Create playlist" %}
    </form>
    {% if link is not None %}
        <div class="card border-success mb-3">
            <h2> <a href="{{ link }}">New playlist!</a> </h2>
        </div>
    {% endif %}
    {% if error is not None %}
        <div class="card text-white bg-danger mb-3">
            <h2> Error: {{ error }} </h2>
        </div>
    {% endif %}
{% endblock %}
